<h1>Coupon Form:</h1>
<%= form_tag coupons_path do %>
    <label>Coupon code:</label>
    <input type='text' name='coupon_code' id='coupon[coupon_code]'>

    <label>Store:</label>
        <input type='text' name='store' id='coupon[store]'>

    <%= submit_tag "Submit Coupon" %>
<% end %>